### API Auth
GITHUB_TOKEN=

### Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=DEV_ECOSYSTEM
SNOWFLAKE_WAREHOUSE=DEV_ECOSYSTEM_WH

### AWS / S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

### Airflow (local)
# Ensures the Web UI can read served task logs without 403 errors.
# For production, use a strong random secret key.
AIRFLOW__WEBSERVER__SECRET_KEY=
